.firstWorkflowContainer {
  display: flex;
  justify-content: center;
  height: 95%;
  padding: 20px 0;
  border-radius: 20px;
  background-color: #9FE2F7;
}

.whiteFont {
  color: #fff;
}

.videoFooterCaption {
  line-height: 20px;
  width: 100%;
  padding-top: 0.5rem;
}

.iconHeader {
  display: inline-flex;
}

.iconHeader h5 {
  margin: auto;
}
.communityRow {
  min-height: 130px;
}

@media screen and (max-width: 966px) {
  .mobileSpaced {
    margin-top: 1rem;
  }
}
