/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  padding-top: 1rem;
}

.mainContainer > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacedUl{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-top:1rem;
  padding-right: 1rem;
}