.imageCol {
  border: 1px solid var(--c-border-dim);
  border-radius: 16px;
  height: 100%;
}
.imageCol img {
  width: 100%;
  max-height: 580px;
  object-fit: contain;
}
.singleAccordion {
  border-top: 1.5px solid var(--c-border-dim);
  padding: 12px 5px;
  cursor: pointer;
}
.singleAccordion:last-child {
  border-bottom: 1.5px solid var(--c-border-dim);
}
.header {
  display: flex;
  align-items: center;
}
.titleActive {
  color: var(--c-accent);
  font-size: 18px;
  font-weight: 700;
}
.arrowIcon {
  padding-right: 15px;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (max-width: 966px) {
  .imageCol {
    margin-top: 20px;
    min-height: 400px;
  }
}
