.singleStep {
  position: relative;
  background-color: var(--ifm-color-athens-gray);
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  color: white;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.singleStep-step-0 {
  background: linear-gradient(
    135deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(163, 60, 60, 1) 100%
  );
}

.singleStep-step-1 {
  background: linear-gradient(
    135deg,
    rgba(58, 130, 180, 1) 0%,
    rgba(163, 60, 162, 1) 100%
  );
}

.singleStep-step-2 {
  background: linear-gradient(
    135deg,
    rgb(18, 174, 81) 0%,
    rgb(78, 136, 181) 100%
  );
}

.singleStep-step-3 {
  background: linear-gradient(
    135deg,
    rgb(198, 169, 55) 0%,
    rgb(203, 78, 11) 100%
  );
}

.singleStep-step-4 {
  background: linear-gradient(
    135deg,
    rgb(198, 103, 230) 0%,
    rgb(172, 17, 115) 100%
  );
}

.singleStep:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.singleStepContent {
  margin: auto;
  position: absolute;
  background: var(--ifm-background-color);
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: calc(100% - 10px);
  border-radius: 5px;
  z-index: 2;
}

html[data-theme="light"] .singleStepContent {
  background: white;
}

.title {
  color: white;
  font-weight: 700;
  text-align: left;
  height: 3rem;
  width: 100%;
}

html[data-theme="light"] .title,
html[data-theme="light"] .singleStepContent {
  color: var(--ifm-heading-color, black);
}
